.App {
  text-align: center;
  min-height: 100vh;
  margin-bottom: 0%;
}

.Link {
  text-decoration: none;
  color: inherit;
}

.Spinner {
  margin-top: 40vh;
}

.PagesContainer {
  margin-top: 50px;
}
